.tooltip-wrapper {
    position: relative;
    cursor: help;
}

.tooltip-span {
    visibility: hidden;
    position: absolute;
    width: auto;
    left: 100%;
    margin-left: -160px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
}

    .tooltip-span::after {
        content: "";
        position: absolute;
        top: 36%;
        right: -8%;
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent transparent #555;
    }

.tooltip-wrapper:hover span {
    visibility: visible;
}
